//
   Created by nirdosh on 27.07.15.

doctype html
html
   head
      title= title
      //indicate that our site is mobile optimized
      meta(name='viewport', content='width=device-width, initial-scale=1.0')
      //reference our site-specific css
      link(rel='stylesheet', href='/stylesheets/style.css')
      //add bootstrap dependencies from CDNjs. Using a CDN to distribute these files puts less pressure
      //on our web server and will be delivered faster to the client than our own server.
      script(src='//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js')
      script(src='//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.2.0/js/bootstrap.min.js')
      link(rel='stylesheet', href='//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.2.0/css/bootstrap-theme.min.css')
      link(rel='stylesheet', href='//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.2.0/css/bootstrap.min.css')
   body
      .container
         form(class="form-horizontal" id="prasangForm" action='/login' method='post')
            div(class="form-group")
               label(class="col-xs-3") USERNAME
               div(class="col-xs-5")
                  input(class="form-control" type="text", name="username")
            div(class="form-group")
               label(class="col-xs-3") PASSWORD
               div(class="col-xs-5")
                  input(class="form-control" type="password", name="password")
            div(class="form-group")
               div(class="col-xs-5")
                  button( type="submit", class="btn btn-success") LOGIN


